# deb build outputs
*.deb
*.dsc
*.build
*.buildinfo
*.changes
*.tar.*
debian/.debhelper/
debian/files
**/.DS_Store
# Debian build artefacts
**/debian/.debhelper/
**/debian/*/DEBIAN/
**/debian/files
**/debian/changelog.dch
*.deb
*.changes
*.buildinfo
*.dsc
*.tar.*
/rel/
