Package: monitoring-rules
Version: 0.1.0
Architecture: all
Maintainer: Aleksei Goncharov <allbury2007@gmail.com>
Installed-Size: 21
Section: admin
Priority: optional
Homepage: https://github.com/allbury2007
Description: Prometheus rules & example configs (no secrets)
 Example rules for Prometheus, plus example configs for Prometheus,
 Blackbox Exporter and Alertmanager. No secrets, email via env vars.
