[Unit]
Description=Run restic backup nightly
[Timer]
OnCalendar=*-*-* 02:17:00
RandomizedDelaySec=8m
Persistent=true
[Install]
WantedBy=timers.target
